body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* ==== Encabezado ==== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #1a1a1a, #45166b, #122);
  padding: 15px 30px;
}

header .logo h1 {
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 2px;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-section .bienvenido {
  font-weight: bold;
  font-size: 0.9rem;
}

.user-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #333;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input, select, button {
    padding: 8px;
    font-size: 14px;
}

button {
    background-color: #6b40c4;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6b40c4;
}
